body {
    background-color: white;
}
header {
    background-color: #FAFAFA;
    border-bottom: 2px solid #AAA7A7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
}
.post_image img{
    width: 100%;
    height: 620;
    /* object-fit: cover; */
}
.post_options {
    font-size: 15px;
    /* float: right; */
    display: inline-block;
    margin: 4px;
}
.post_location{
    font-size: 12px;
    color: #AAA7A7;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    width: ;
} */
.navigation {
    display: flex;
    justify-content: centre;
    flex-direction: row;
    text-align: center;
    padding: 26px;
    flex-wrap: wrap;
}
/* .search_bar a{
    font-size: ;
    padding-left: 15;
} */
.content_container {
    background-color: white;
    margin-top: 50px;
    position: absolute;
    left: 0px;
    top: 83px;
    width: 100%;
}
/* .navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    width: ;
} */
.instalogo {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    width: 30%;
}
.instalogo a{
    font-size: 25px;
    padding-left: 10;
}
/* .navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    width: ;
} */
.post_name {
    font-size: 14px;
    color: black;
    font-weight: 700;
    padding: 0%;
    margin: 0%;
}
.vl {
    border-left: 1.5px solid #3E1E47;
    height: 30px;
    margin-left: 20px;
}
.contact_icons {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-left: 100px;
}
.contact_icons a{
    font-size: 27px;
    padding-left: 30;
    font-weight: lighter;
}
/*
.search_bar {
    display: flex;
    justify-content: ;
    width: 30%;
    padding-right: 100px;
} */
.post_info {
    display: inline-block;
    padding-left: 16px;
}
.search_bar a {
    font-size: 27px;
    padding-left: 15;
}
.card_header {
    text-decoration: none;
    color: black;
}
.profile_image {
    display: inline-block;
    background-color: #3E1E47;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0 solid black;
    border-radius: 50%;
}
.likes {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0px 0px 8px;
    padding: 0px 21px;
}
.content_container{
    background-color: #FAFAFA;
    padding-top: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 85px;
}
.fa-bookmark{
    float: right;
    margin-right: 24px;
}
.caption span{
    font-weight: 15px;
    font-weight: 500;
    color: #575353;
    display: inline-block;
    margin-right: 15px;
}
.time_posted{
    font-size: 10px;
    font-weight: 300;
    color: #575353;
    padding: opx 16px;
    text-transform: uppercase;
}
.card{
    background-color: white;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    margin: 0 auto;
    width: 615px;
    height: auto;
    border: .9px solid #ccc;
    margin-bottom: 65px;
    /* float: centre; */
}
.engagement{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0px 16px;
    margin: 4px 0px 0px;
}
.engagement a{
    /* width: 100%; */
    padding: px;
    color: #AAA7A7;
    font-weight: 600;
    font-size: 30px;
}
.caption{
    display: inline-block;
    width: 100%;
    padding: 0px 16px;
}
.caption a{
    font-size: 10px;
    font-weight: bold;
    color: #020202;
    text-decoration: none;
    display: inline-block;
    padding-left: -5px;
    padding-right: 5px;
}