{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <title>base</title>
  </head>
  <body>
    <header>
      <div class="navigation">
        <div class="instalogo">
          <a class="" href="/"><i class="fab fa-instagram"></i></a>
          <a class="vl" href="/"></a>
          
        </div>
        <div class="search_bar">
          <input type="text" placeholder="search" />
          <a class="search" href=""><i class="fas fa-search"></i></a>
        </div>
        <div class="contacts_icons">
          <a class="likes" href="/"><i class="far fa-heart"></i></a>
          <a class="profile" href="/"><i class="far fa-user"></i></a>
        </div>
      </div>
    </header>
    <div class="content_container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
